body { background: #a8560f; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-shipping-0 { color: #477b1; font-size: 13px; margin-bottom: 5px; }
.block-metrics-1 { color: #599fc7; font-size: 18px; margin-bottom: 5px; }
.block-uploader-2 { color: #50bf06; font-size: 20px; margin-bottom: 5px; }
.block-auth-3 { color: #8dcb14; font-size: 17px; margin-bottom: 5px; }
.block-payment-4 { color: #b8d837; font-size: 18px; margin-bottom: 5px; }
.block-product-5 { color: #f2ea35; font-size: 17px; margin-bottom: 5px; }
.block-payment-6 { color: #5200e3; font-size: 15px; margin-bottom: 5px; }